body {
  color: #000305;
  font-family: Arial, 'Lucida Sans Unicode';
  /*  line-height: 1.5; */
  text-align: left;
}

a {
  text-decoration: none;
}


.body{
  margin: 0 auto;
  width: 100%;
  clear: both;
}

.mainHeader nav {
  background-color: #2c3e50;
  height: 80px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainHeader nav ul {

  list-style: none;
  margin: 0 auto;
}

.mainHeader nav ul li {
  display: inline;
}

.mainHeader nav ul li h1{
  float: left;
  color: white;
  margin: 18px 40px;
}

.mainHeader nav ul  a {
 float: right;
 font-size: 24px;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
 color: #FFF;
 display: inline-block;
 padding: 20px 35px;
 height: 40px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
  background-color: #CF5C3F;
  text-shadow: none;

}

.mainHeader nav ul li a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.mainContent {
  background-color: #18bc9c;
}

.mainContent .container {
  width: 70%;
  margin: 0 auto;
}

.mainContent img {
  width: 20%  ;
  height: auto;
  margin: 5% 0;
}

.mainContent .imgHeading h1 {
  color: white;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 70px;
}

hr.star-break-light { 
  max-width: 15rem;
  padding: 0; 
  border: none;
  border-top: medium double #FFF; 
  color: #FFF; 
  text-align: center;
}

hr.star-break-light:after {
  content: "§"; 
  display: inline-block;
  position: relative; 
  top: -0.7em; font-size: 1.5em;
  padding: 0 0.25em; 

}

hr.star-break-dark { 
  max-width: 15rem;
  padding: 0; 
  border: none;
  border-top: medium double #2c3e50; 
  color: #2c3e50; 
  text-align: center;
}

hr.star-break-dark:after { 
  content: "§"; 
  display: inline-block;
  position: relative; 
  top: -0.7em; font-size: 1.5em;
  padding: 0 0.25em; 

}

.imgHeading h2{
  color: white;
  margin-top: 0px;
}

.portfolio {
  background-color: #FFF;
}

.portfolio .container h1 {
  font-size: 50px;
  font-weight: 900;
  color: #2c3e50;
  margin-top: 50px;
  padding-top: 50px;
}

.portfolio img {
  width: 30%  ;
  height: auto;
  margin: 2% 1%;
}

.portfolio .row {

  display: flex;
  flex-wrap: wrap;
}

.portfolio .column {
  flex: 100%;
  max-width: 100%;
}

.about {
  background-color: #18bc9c;
}

.about .container h1 {
  font-size: 50px;
  font-weight: 900;
  color: #FFF;
  padding-top: 50px;
}

.about .row {
  width: 60%;
}

.about .column {
  color: white;
  font-size: 26px;
  width: 40%;
  padding: 10px;
}
.left {
  float:left;
}

.right {
  float:right;
}

.about .row:after {
  content: "";
  display: table;
  clear: both;
}

.about .btn {

  background-color: #18bc9c;
  border: 2px solid white;
  color: white;
  padding: 20px 50px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* Darker background on mouse-over */
.about .btn:hover {
  background-color: #2c3e50;
}

.contact {
  background-color: #FFF;
}

.contact div {
  border-radius: 10px;
  padding: 30px;
}

.contact h1 {
  padding-top: 50px;
}

input[type=text], select {
  width: 60%;
  padding: 12px 20px;
  margin: 25px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 15%;
  background-color: #18bc9c;
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: #45a049;
}

.mainFooter {
  background-color: #2c3e50;
}

.mainFooter .container {
  width: 70%;
  margin: 0 auto;
}

.about .row {
  width: 60%;
}

.mainFooter .column {
  color: white;
  font-size: 26px;
  width: 30%;
  padding: 20px;
}
.mainFooter .left {
  float:left;
}

.mainFooter .right {
  float:left;
}

.mainFooter .right a {
  color: #18bc9c;
  text-decoration: underline;
}

.mainFooter .center {
  float: left;
}

.mainFooter ul {
  list-style-type: none;
}

.mainFooter ul img {
  float: left;
  border-radius: 50%;
  width: 15%;
  height: auto;
  padding: 2px;
}

.mainFooter .row:after {
  content: "";
  display: table;
  clear: both;
}


.bottom-bar {
  background-color: #1a252f;
}

.bottom-bar p {
  color: #FFF;
  padding: 30px 0;
  margin: 0px;
}

@media only screen and (min-width: 601px) and (max-width: 900px)
{
  .body{
    margin: 0;
    width: 100%;
    font-size: 100%;
  }  

  .mainHeader nav {
    display: block;
    height: 275px;
  }

  .mainHeader nav ul li h1{
    margin: 0px 0px;
    float: none;
  }


  .mainHeader nav ul li {
    display: block;
  }

  .mainHeader nav ul li a{
    display: ;
    float: none;

  }

  .mainContent .container {
    width: 100%;
    margin: 0 auto;
  }

  .mainContent img {
    width: 35%  ;
    margin: 3% 0;
  }

  .mainContent .imgHeading h1 {
    font-size: 50px;
  }

  .mainContent .imgHeading h2 {
    font-size: 23 px;
  }

  hr.star-break-light { 
    max-width: 10rem;
  }

  hr.star-break-dark { 
    max-width: 10rem;
  }

  .portfolio .container {
    width: 100%;
  }

  .portfolio .column {
    flex: 50%;
    max-width: 50%;
  }

  .portfolio img {
    width: 100%  ;
    height: auto;
    margin: 2% 1%;
  }

  .about .container {
    width: 100%;
  }
  .about .row {
    width: 100%;
  }

  .about .column {
    width: 100%;
  }

  .about .column p{
    padding: 0 30px;
  }

  .about .btn {
    padding: 15px 30px;
    font-size: 16px;
  }

  .contact div {
    padding: 10px;
  }

  input[type=submit] {
    width: 20%;
  }

  .mainFooter .container {
    width: 90%;
    margin: 0 auto;
  }

  .mainFooter .column {
    font-size: 20px;
    width: 100%;
  }


}

@media only screen and (min-width: 150px) and (max-width: 600px) 
{
  .body{
    margin: 0;
    width: 100%;
    font-size: 90%;
  }

  .mainHeader nav {
    display: block;
    height: 300px;
  }

  .mainHeader nav ul li h1{
    font-size: 30px;
    margin: 0px 0px;
    float: none;
  }


  .mainHeader nav ul li {
    display: block;
  }

  .mainHeader nav ul li a{
    float: none;
    display: block;
    text-align: right;
  }

  .mainContent .container {
    width: 100%;
    margin: 0 auto;
  }

  .mainContent img {
    width: 30%  ;
    margin: 3% 0;
  }

  .mainContent .imgHeading h1 {
    font-size: 50px;
  }

  .mainContent .imgHeading h2 {
    font-size: 20px;
  }

  hr.star-break-light { 
    max-width: 12rem;
  }

  hr.star-break-dark { 
    max-width: 12rem;
  }

  .portfolio .container {
    width: 100%;
  }

  .portfolio img {
    width: 100%  ;
    height: auto;
    margin: 2% 1%;
  }

  .about .container {
    width: 100%;
  }
  .about .row {
    width: 100%;
  }

  .about .column {
    width: 100%;
  }

  .about .column p{
    padding: 0 30px;
  }

  .about .btn {
    padding: 15px 30px;
    font-size: 16px;
  }

  .contact div {
    padding: 10px;
  }

  input[type=submit] {
    width: 20%;
    padding: 5px 5px;
  }

  .mainFooter .container {
    width: 90%;
    margin: 0 auto;
  }

  .mainFooter .column {
    font-size: 20px;
    width: 100%;
  }

  .mainFooter ul img {
    width: 13 %;
    padding: 2px;
  }
}